<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 07f5aa9368f5762fa48a4fbb65b6a180be990002
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel=“stylesheet” href=“https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css” integrity=“sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T” crossorigin=“anonymous”>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<<<<<<< HEAD
   <footer class="text-center text-light" style="background-color: #FF9566;"">
            <p> <img src="/Users/haileyrobbins/Documents/ASE-Final/views/assets/Pet-Logo.jpeg" height="100" width="100" align="center" </p>
=======
   <footer class="text-center text-light" style="background-color: #FF9566;">
            <p> <img src="/views/assets/Pet-Logo.jpeg" height="100" width="100" align="center"> </p>
>>>>>>> 07f5aa9368f5762fa48a4fbb65b6a180be990002
           <h5 class="text-uppercase">Contact</h5>
           <ul class="list-unstyled text-center">
             <li>
               <p class="text-center"><i class="fa fa-map-marker"></i>9668 Rainier Ave, Seattle, WA, 98118</p>
             </li>
             <li>
               <p class="text-center"><i class="fa fa-phone"></i>(206) 721-1082</p>
             </li>
             <li>
               <p class="text-center"><i class="fa fa-envelope-o"></i>petmanagerinfo@yahoo.com</p>
             </li>
           </ul>
<<<<<<< HEAD
   </footer>
=======
<p class="text-center text-muted">&copy; Copyright 2020 The Awesome People</p>
>>>>>>> 6d92c74ece40a0d52f1533321250a130eb133bb2
=======
   </footer>
>>>>>>> 07f5aa9368f5762fa48a4fbb65b6a180be990002
