<body style="background-color: #FF9566;">
	<div class ="container">
		<p><h1 style="color: white;">Add Medication</h1> <button class="btn btn-light btn-outline-dark" href="/users/">Back to users index</button> <button class="btn btn-light btn-outline-dark" href="../<%= pet.petID %>">Back to pet details</button></p>
	<form id="addMedication" enctype="multipart/formdata">
		<div class="form-group">
			<label for="petID" style="color: white; font-size: 20px">Pet ID:</label>
			<input type="text" class="form-control" id="petID" name="petID" value="<%= pet.petID %>" disabled>
		</div>
		<div class="form-group">
			<label for="medicationName" style="color: white; font-size: 20px">Medication Name:</label>
			<input type="text" class="form-control" id="medicationName" name="medicationName">
		</div>
		<div class="form-group">
			<label for="medType" style="color: white; font-size: 20px">Med Type:</label>
			<input type="text" class="form-control" id="medType" name="medType">
		</div>
		<div class="form-group">
			<label for="dosage" style="color: white; font-size: 20px">Dosage:</label>
			<input type="text" class="form-control" id="dosage" name="dosage">
		</div>
		<div class="form-group">
			<label for="numberOfDailyDoses" style="color: white; font-size: 20px">Number of Daily Doses:</label>
			<input type="text" class="form-control" id="numberOfDailyDoses" name="numberOfDailyDoses">
		</div>
		<div class="form-group">
			<label for="medNotes" style="color: white; font-size: 20px">Notes:</label>
			<input type="text" class="form-control" id="medNotes" name="medNotes">
		</div>

		<button type="submit" class="btn btn-primary" >Submit</button>
	</form>
