<!DOCTYPE html>
<html>
<head>
     <%- include('../partials/head') %>
</head>

<header>
    <%- include('../partials/header') %>
</header>

<body style="background-color: #fff8df;">
    <div style="padding: 20px;">
        <h3>404</h3>
        <p>Oops! We couldn't find the page you were looking for.</p>
        </div>
</body>

<footer>
    <%- include('../partials/footer') %>
</footer>
</html>