<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
</head>

<header>
   <%- include('../partials/header') %>
</header>
<body style="background-color: #FF9566;">
	<div class="container"><p><h1>User Edit</h1> <a href="/users/" class="btn btn-light btn-outline-dark">Back to users index</a></p>
        <form id="deleteUser" enctype="multipart/formdata">
            <div class="form-group">
                <label for="deleteUser" style="color: white; font-size: 20px">Delete User?</label>
                <input type="text" class="form-control" id="userID" name="deleteUser" aria-describedby="deleteUser" placeholder="deleteUser" value="<%= user.userID %>" disabled>
            </div>          
            <button type="button" class="btn btn-primary" id="deleteBtn">Submit</button>
        </form>
	</div>


    <script> 	
		const deleteBtn=document.getElementById('deleteBtn')
		deleteBtn.addEventListener('click',()=>{
            let urlportion=userID.value
			
			axios({
			method: 'delete',
			url: '/userDetail/delete/' + urlportion,
			data: {
			},
				validateStatus:()=>true
			})
			.then(function (response) { 
				let responseData = response.data
				alert(response.status+' '+ responseData.message)
				window.location = "/users"
			})
			.catch(function (error) {
				console.log(error);
			});
		})
	</script> 

</body>


<footer>
    <%- include('../partials/footer') %>
</footer>
</html>