<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
</head>

<header>
   <%- include('../partials/header') %>
</header>
<body style="background-color: #FFF0DF;">
	<div class="container"><p><h1>User Edit</h1> <button><a href="/users/">Back to users index</a></button></p>

	</div>
</body>

<footer>
    <%- include('../partials/footer') %>
</footer>
</html>