<!DOCTYPE html>
<html>
<head>
     <%- include('../partials/head') %>
</head>

<header>
    <%- include('../partials/header') %>
</header>

<body style="background-color: #fff8df;">
	<div style="padding: 20px;">
		<h2>Successfully added!</h2>
        <button><a href="/users/">Back to users index</a></button>
	</div>
</body>
<footer>
    <%- include('../partials/footer') %>
</footer>
</html>
